# Compiled class files
*/*.class

# Log files
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files
*.jar
*.war
*.ear

# Virtual machine crash logs
hs_err_pid*

# Eclipse project files
.project
.classpath
.settings/

# IntelliJ IDEA project files
.idea/
*.iml
out/

# NetBeans project files
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

**/*.class

# Maven target directory
target/

# Gradle build directory
build/

# Other files
.DS_Store
Thumbs.db